<style>
  .ejs-red {
    color: red;
  }
</style>
<div>
  this is test
  <?= test?>
  <div data-param="<?= test?>"></div>
  <div class="ejs-red">sfsfsfsf</div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
</div>
